# http://docs.python.org/distutils/sourcedist.html#manifest-template
# http://docs.python.org/distutils/sourcedist.html#specifying-the-files-to-distribute

include LICENSE

# Including
# Python source files, test/*.py will be automatically included.
recursive-include vshare *.py
# Templates
recursive-include vshare/templates *
# Static files
recursive-include vshare/static *
# Translations
recursive-include vshare/translations *

# Excluding
recursive-exclude vshare *.pyc
recursive-exclude tests *.pyc
